##
## Gradle
##

**/.gradle/
**/gradle/wrapper/gradle-wrapper.jar
**/gradlew
**/gradlew.bat

##
## JetBrains IDE
##

**/.externalBuildProject/
.idea/
**/captures/
**/build/
**/local.properties
/app/release/
**/*.iml
